<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ec">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 加入在SDCard中创建与删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 加入在SDCard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".newapi.ToolBarActivity" />
        <activity android:name=".anim.AnimActivity" />
        <activity android:name=".newapi.RecyclerViewActivity" />
        <activity android:name=".activity.HttpTestActivity" />
        <activity android:name=".activity.CustomScanActivity" />
        <activity android:name=".greendao.GreenDAOActivity" />
        <activity android:name=".activity.NewApiMenu" />

        <service
            android:name="com.easycode.service.UpdateService"
            android:enabled="true" />

        <activity android:name=".activity.NewMenuActivity" />
        <activity android:name=".activity.XmlActivity" />
        <activity android:name=".activity.TabActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".newapi.DataBindActivity" />
        <activity android:name=".activity.RxJavaActivity" />
        <activity android:name=".activity.XmlJxActivity" />
        <activity android:name=".activity.TimePickerActivity" />
        <activity android:name=".activity.ExpandableItemActivity"></activity>
    </application>

</manifest>